*{
    margin:0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(Black-Metal-Texture-www.wallpapersbrowse.com.jpg);
    background-position: center;
    background-size: cover;
    height: 1230px;
    background-repeat:repeat;
}
/*---navigation---*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #fff;
}
.navbar-brand img{ /*---editing the logo in the nav bar---*/
    height: 50px;
    width: 250px;
    padding-left: 30px;
}
.navbar-nav li{ /*--ul li--*/
    padding: 0 10px;
}
.navbar-nav li a{ /*--ul li a--*/
    float: left;
    text-align: left;
}
#nav-bar ul li a:hover{ /*--hover of the one above.could have been written as .navbar li a:hover--*/
    color: #aa0001!important;
}
.navbar{ /*contains the nav menu and image*/
    
    width: 100%;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{ /*contains all the links in the navigation menu(home , about us etc)*/
    color: #555!important;
    font-weight: 600;
    font-size: 15px;
    font-family: sans-serif;
}
.search-container{
    margin-top: 15px;
    float: left;
    margin-right: 20px;
    width: 50%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin: 20px;
}
.search-container input[type=text]{
    padding: 7px;
    border-color: orange;
    border-style: solid;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 5px 5px 5px 5px;
    width: 89%;
}
.search-container button{
    float: right;
    background: orange;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    position: relative;
    padding: 7px;
    font-family: sans-serif;
    border: none;
    font-size: 16px;
}
